html {
    height: 100%;
    overflow: hidden;
    background-color: lightskyblue;
}

body {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
}

p {
    margin-top: 20vh;
    margin-bottom: 2vh;
}

.section {
    font-size: min(7vh, 5vw);
    display: inline-block;
    width: 24vw;
    height: 96%;
    color: rgb(218, 25, 25);
    font-weight: bold;
}

.data {
    background-color: rgb(9, 143, 9);
    border: 4px solid white;
    height: 18vw;
    width: 20vw;
    margin: auto;
}

.innerD {
    color: white;
    font-family: sans-serif;
    font-size: min(12vh, 10vw);
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 5vw;
}

a {
    color: rgb(9, 143, 9);
}

a:hover {
    color: black;
}

#christmasbanner {
    display: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 2.5%;
    font-size: 6rem;
    color: rgb(218, 25, 25)
}
